# CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Polleria_Latina_DB
DB_USERNAME=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_aqui

# CONFIGURACIÓN DEL SERVIDOR
SERVER_PORT=8080

# SEGURIDAD 
JWT_SECRET=tu_secreto_super_seguro_aqui

# CONFIGURACIÓN DE CORREO (GMAIL)
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=las_16_letras_sin_espacios