<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <footer class="footer-wrapper bg-body">
      <div class="container-fluid">
        <div class="row g-2">
          <div class="col-lg-6 col-md-7 text-center text-md-start">
            <p class="mb-0">
              © 2026 <a href="index.html" class="text-body">FinessGym</a>. All
              rights reserved.
            </p>
          </div>
          <div class="col-lg-6 col-md-5">
            <ul
              class="d-flex list-inline mb-0 gap-3 flex-wrap justify-content-center justify-content-md-end"
            >
              <li>
                <a class="text-body" href="/">Inicio</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </th:block>
</html>
